<app-header titulo="lista de personajes"></app-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size="12" size-lg="3" size-md="4" size-sm="6">
                <ion-card *ngFor="let item of personajes">
                    <ion-card-header>
                        <ion-card-subtitle></ion-card-subtitle>
                        <ion-card-title>{{item.info}}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-footer>
        <ion-toolbar>
            <ion-title>Api de morty</ion-title>
        </ion-toolbar>
    </ion-footer>

</ion-content>